.process {
  width: 50vw;
}

.process li {
  position: relative;
  border: solid 3px #ffffff;
  border-radius: 50%;
  width: 50px;
  aspect-ratio: 1/1;
  text-align: center;
  line-height: 50px;
}

.process-text {
  width: 48.5vw;
}

.process .clicked {
  background: red;
  border: solid 3px red;
}

.order-body {
  margin-left: 250px;
}
.order-card {
  margin-top: 50px;
}

.orderInfo-img {
  margin-left: 50px;
  width: 30vw;
  aspect-ratio: 1/1;
}

.orderInfo-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.order-peronsal-info {
  width: 50vw;
}
@media (max-width: 1200px) {
  .order-body {
    margin-left: 0px;
  }
  .orderInfo-img {
    margin: 0;
    width: 85vw;
  }
}

@media (max-width: 768px) {
  .order-body {
    margin-left: 0px;
  }
  .process {
    width: 70vw;
  }

  .process-text {
    width: 70vw;
  }
  .process-text li {
    font-size: 14px;
  }
  .order-peronsal-info {
    width: 80vw;
  }
}
