.store-add-body {
  background: rgba(255, 255, 255, 0.15);
  padding: 0 50px;
}

.store-add-body p,
.store-list-body p {
  font-size: 32px;
  margin: 0;
}

.store {
  margin-left: 60px;
}

.store-title {
  width: 70vw;
  background: rgba(255, 255, 255, 0.6);
}

.store-title p {
  text-align: center;
  font-size: 48px;
  color: #000000;
  font-weight: bolder;
}

.diff input[type='radio'] {
  display: none;
  border: none;
}

.store-add-img {
  width: 800px;
  aspect-ratio: 2/1;
  object-fit: cover;
  object-position: center center;
}

.store-list-body {
  background: rgba(255, 255, 255, 0.15);
  padding: 0 50px;
}

.store-table {
  color: #ffffff;
  border-collapse: collapse;
}

.store-table th {
  background: rgba(255, 255, 255, 0.2);
}
.store-table th:first-child {
  border-radius: 20px 0 0 0;
}

.store-table th:last-child {
  border-radius: 0 20px 0 0;
}

.store-table td {
  border: 1px solid transparent;
  background-color: #dbdbdb;
  color: #000000;
}

.store-table tbody tr:last-child td:first-child {
  border-radius: 0 0 0 20px;
}

.store-table tbody tr:last-child td:last-child {
  border-radius: 0 0 20px 0;
}
.store-edit-img {
  width: 600px;
  aspect-ratio: 2/1;
  object-fit: cover;
  object-position: center center;
}
.fade.modal.show {
  padding: 0 !important;
}
.store-search {
  display: none;
}
.store-search-target {
  background-color: red;
}
@media (max-width: 1400px) {
  .store {
    margin: 0;
  }
  .store-title {
    width: 85vw;
  }
  .store-title p {
    font-size: 32px;
    margin-top: 20px;
  }
}

@media (max-width: 1200px) {
  .store {
    margin-left: 0px;
    width: 90vw;
  }
  .store-table {
    width: 90vw;
  }
  .store-title {
    width: 100%;
  }
  .store-table td {
    border: none;
  }

  .phonehidden {
    display: none;
    overflow: hidden;
  }
  .store-add-img {
    width: 200px;
    aspect-ratio: 2/1;
    object-fit: cover;
    object-position: center center;
  }
  .store-add-button {
    width: 80vw !important;
  }
  .store-list-body {
    padding: 0;
  }
  .store-edit-img {
    width: 300px;
    aspect-ratio: 2/1;
    object-fit: cover;
    object-position: center center;
  }
}
