.logo {
  width: 50px;
}

.logo p {
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 144px;
  text-align: center;
  letter-spacing: 0.06em;
  background: linear-gradient(to right, #ffffff 50%, #262626 50%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 1199px) {
  /* .logo {
    display: none;
  } */
  .logo {
    width: 90vw;
  }
}
