.Menu-horizontal {
  width: 85vw;
  height: 100%;
  background: rgba(255, 255, 255, 0.15);
}

.Menu-horizontal ul {
  height: 100%;
}

.Menu-horizontal li {
  padding: 15px 30px;
}

.Menu-horizontal a {
  padding: 5px 30px;
  border-radius: 50px;
  text-decoration: none;
  color: #ffffff;
}

.clicked {
  background-color: red;
}

@media (max-width: 1400px) {
  .Menu-horizontal li {
    padding: 0;
    padding-top: 10px;
  }
  .Menu-horizontal a {
    padding: 5px 20px;
  }
}
@media (max-width: 1200px) {
  .Menu-horizontal {
    width: 90vw;
  }
}
@media (max-width: 576px) {
  .a {
    display: flex !important;
    flex-direction: column !important;
  }
}
